<div class="container wood">	
	<p><span class="strong">Turn: </span><span ng-bind="turn"></span></p>
	<div>
		<span class="player-icon" ng-repeat="player in party track by $index" ng-style="{'background-color': player.colour}" ng-class="{'active': player.activeTurn}"></span>
	</div>
	<p ng-bind="waitMessage"></p>
	<p ng-if="lastAction"><span class="strong" >Adversary last action: </span><span ng-bind="lastAction"></span></p>
	<div ng-if="initGame && turnActive">
		<button type="button" ng-click="reorganizeArmy()">Reorganize army</button>
		<button type="button" ng-click="finishTurn()">Finish turn</button>
	</div>
</div>
