<div class="handshake">
	<div>
		<h2>Available rooms</h2>
		<p ng-show="roomsList.clientInRoom">
			<span>
				<img class="loading" src="/client/assets/img/loading.gif" alt="loading game"/>
			</span>
			Please wait... {{room.currentPlayers}}/{{room.numOfPlayers}} connected
		</p>
		<div ng-show="!roomsList.clientInRoom && room.players.length < room.size" ng-repeat="room in roomsList.list">
			<p>
				<h3>Room {{$index + 1}}</h3>
				<span>Players: </span><span ng-bind="room.players.length">0</span>/<span ng-bind="room.size"></span>
				<button ng-show="!roomsList.clientInRoom || room.players.length !== room.size" type="button" ng-click="roomsList.joinRoom(room.roomName)">Join room</button>
			</p>
		</div>
	</div>

	<div ng-show="!room.createdByUser && !roomsList.clientInRoom">
		<h2>Create new room</h2>
		<label>Select number of players</label>
		<select ng-model="room.selectedNumPlayers" ng-change="room.createRoom()" ng-options="numPlayers for numPlayers in room.roomSelector">
			<option value="">Select number of players</option>
		</select>
	</div>
</div>

